<Layouts.app flash={@flash}>
  <.h1>Supervisors</.h1>

  <div
    id="supervisors-canvas"
    phx-hook=".ReactFlowCanvas"
    phx-update="ignore"
    class="mt-4 h-[600px] max-h-[90vh] w-full rounded-box border border-base-300 bg-base-200/60"
  >
  </div>

  <script :type={Phoenix.LiveView.ColocatedHook} name=".ReactFlowCanvas" extension="jsx">
    import {createRoot} from "react-dom/client"
    import {Background, Controls, ReactFlow} from "@xyflow/react"

    function HelloFlow(props) {
      return (
        <ReactFlow defaultNodes={props.data.nodes} defaultEdges={props.data.edges} fitView>
          <Background />
          <Controls />
        </ReactFlow>
      )
    }

    export default {
      mounted() {
        this.root = createRoot(this.el)

        this.handleEvent("data", (data) => {
          this.root.render(<HelloFlow data={data} />)
        })
      },

      destroyed() {
        this.root?.unmount()
      },
    }
  </script>
</Layouts.app>
